<header style="align-items: center;">
  <a  style="color: rgb(160, 255, 105); padding : 20px " href="/">Home</a> 
</header>
<h1 style="text-align: center">Report</h1>
<div class="login">
  <h2 class="login-header">Farmer - Products</h2>
  <div class="login-container">
    <table id="users">
      <tr>
        <th *ngFor="let column of headers">
          {{ column }}
        </th>
      </tr>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of headers">
          {{ row[column] }}
        </td>
      </tr>
    </table>
  </div>
  
</div>
