<h1 style="text-align: center">Farmer Profile</h1>
<div class="login">
  <h2 class="login-header">Details</h2>
  <div class="login-container">
    <label for="username">Quality:</label><br />
    <select>
        <option *ngFor="let type of qualityFlagType" value={{type.icon}}>
            {{type.name}}
        </option>
    </select>
    <input
      type="submit"
      value="Save"
      style="padding-right: 50px; padding-left: 50px"
    />
    <br /><br />

    <table id="users">
      <tr>
        <th *ngFor="let column of headers">
          {{ column }}
        </th>
      </tr>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of headers">
          {{ row[column] }}
        </td>
      </tr>
    </table>
  </div>
  <!-- <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  
    <label for="username">Username:</label><br />
    <input
      type="text"
      id="username"
      name="username"
      formControlName="username"
    /><br />
    <label for="password">Password:</label><br />
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
    /><br />
    <label for="conpassword">Confirm Password:</label><br />
    <input
      type="password"
      id="conpassword"
      name="conpassword"
      formControlName="conpassword"
    /><br />
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" formControlName="email" />
    <div>
   
    <label for="isDOA">Department of Agriculture</label><br />
    <input type="radio" id="isDOA" name="type" value="isDOA" formControlName="type"/>
    </div>
    <input type="radio" id="isKeells" name="type" value="isKeells"formControlName="type" />
    <label for="isKeells">Keells</label><br />
    <input type="submit" value="Submit" />
  </form> -->
</div>
